.maroon {background-color: #6d1014; }
.maroons {background-color: #5d0004; }
.red { background-color: #c5101a; }
.reds { background-color: #b5000a; }
.orange { background-color: #f96410; }
.oranges { background-color: #e95400; }
.maize { background-color: #ffcb05; }
.maizes { background-color: #efbb00; }
.green { background-color: #9fcd16; }
.greens { background-color: #8fbd06; }
.lightBlue { background-color: #5485b6; }
.lightBlues { background-color: #4475a6; }
.blue { background-color: #00274c; }
.blues { background-color: #00173c; }
.indigo { background-color: #2f15bd; }
.indigos { background-color: #1f05ad; }
.lavender { background-color: #b96abd; }
.lavenders { background-color: #a95aad; }
.purple { background-color: #752a75; }
.purples { background-color: #651a65; }
.magenta { background-color: #eb109a; }
.magentas { background-color: #db008a; }
.brown { background-color: #8a5639; }
.browns { background-color: #7a4629; }
.grey { background-color: #888; }
.greys { background-color: #777; }
.black { background-color: #111; }
.blacks { background-color: #000; }
