.scoreboardMobile {
	margin-top: 10px !important;
	margin-left: 10px !important;
	width: calc(100% - 20px) !important;
	height: 50px !important;
}
.scoreboardMobile > #top, .scoreboardMobile > #top > .quarter {
	height: 40px !important;
}
.scoreboardMobile > #top > .quarter > .teamName {
	font-size: 18px !important;
}
.scoreboardMobile > #top > .quarter > .size1 {
	font-size: 22px !important;
}
.scoreboardMobile > #top > .quarter > div {
	height: 30px !important;
	line-height: 30px !important;
}
.yardLineMobile {
	height:	70px !important;
}
.yardLineMobile > .lineCell {
	height: 70px !important;
	line-height: 70px !important;
	font-size: 16px !important;
}
.scoringMobile {
	left: 10px !important;
	bottom: 10px !important;
	width: calc(100% - 20px) !important;
	height: 50px !important;
	line-height: 50px !important;
	font-size: 40px !important;
}
.fieldContMobile {
	height: calc(100vh - 70px) !important;
}
.fieldMobile {
	height: calc(100% - 76px) !important;
}
