body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  --red: rgb(237,28,36);
  --red-dark: rgb(190,22,29);
  --skyblue: rgb(0,162,232);
  --skyblue-dark: rgb(0,130,186);
  --orange: rgb(244,98,0);
  --orange-dark: rgb(195,78,0);
  --blue: rgb(51,88,200);
  --blue-dark: rgb(41,70,160);
  --purple: rgb(120,70,162);
  --purple-dark: rgb(96,56,130);
  --black: rgb(20,20,20);
  --black-dark: rgb(0,0,0);
  --grey: rgb(128,128,128);
  --grey-dark: rgb(102,102,102);
  --maroon: rgb(130,0,21);
  --maroon-dark: rgb(104,0,17);
  --fuschia: rgb(219,3,243);
  --fuschia-dark: rgb(175,2,194);
  --indigo: rgb(63,17,149);
  --indigo-dark: rgb(50,14,119);
  --navy: rgb(0,39,76);
  --navy-dark: rgb(0,31,61);
  --maize: rgb(255,203,5);
  --maize-dark: rgb(217,173,4);
  --brown: rgb(150,94,63);
  --brown-dark: rgb(120,75,50);
  --lime: rgb(168,216,24);
  --lime-dark: rgb(143,184,20);
  --aqua: rgb(23,221,102);
  --aqua-dark: rgb(18,177,82);
  --raspberry: rgb(185,60,91);
  --raspberry-dark: rgb(148,48,73);
}
#gameCont {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
#setup {
  height: 100vh;
  width: 100%;
  background-color: #eeea;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
#setup > div {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  height: auto;
  min-height: 100px;
  max-height: calc(100% - 20px);
  background-color: #444;
  display: inline-block;
  overflow-y: auto;
}
#teamCont {
  display: inline-flex;
  height: auto;
  width: 100%;
}
.teamHalf {
  width: 50%;
  height: auto;
  display: inline-block;
}
.teamHalf:first-of-type {
  margin-right: 5px;
}
.title {
  width: 100%;
  display: inline-block;
  font-size: 40px;
  color: #ccc;
  font-family: 'Roboto Condensed', sans-serif;
}
.description {
  width: 100%;
  display: inline-block;
  font-size: 30px;
  color: #aaa;
  font-family: 'Roboto Condensed', sans-serif;
}
.teamNameInput, #periodLength, #difficulty, #awayControls, #homeControls {
  width: calc(100% - 10px);
  padding: 5px;
  font-size: 30px;
  background-color: #666;
  border-radius: 5px;
  border: none;
  color: #ccc;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}
#awayControls, #homeControls {
  margin-top: 5px;
}
.teamNameInput:hover, #periodLength:hover, #difficulty:hover, #awayControls:hover, #homeControls:hover {
  background-color: #606060 !important;
}
.teamNameInput:focus, #periodLength:focus, #difficulty:focus, #awayControls:focus, #homeControls:focus {
  outline: none;
}
#periodLength, #difficulty, #awayControls, #homeControls {
  width: 100%;
}
.teamColorCont {
  width: 100%;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
}
.colorSelect {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin: 5px;
  flex: 1 0 calc(25% - 10px);
}
.colorSelect:hover {
  opacity: 0.8;
  cursor: pointer;
}
.colorSelect > svg {
  height: 24px;
  width: 24px;
  padding: 3px;
  display: none;
  margin: auto;
}
#launchError {
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: #666;
  border-radius: 5px;
  margin-top: 5px;
  font-family: 'Roboto Condensed', sans-serif;
  color: red;
  font-size: 24px;
  display: none;
}
.sideline {
  height: 5px;
  width: 100%;
  background-color: white;
}
#field {
  background-color: rgb(0,127,0);
  height: calc(100% - 210px);
  width: 100%;
  position: relative;
}
.fieldSpacer {
  flex-shrink: 0;
  height: 10px;
  width: 100%;
}
.fieldRow {
  height: calc((100% - 40px) / 3);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.fieldCell {
  height: 100%;
  width: calc((100% / 12));
  margin-left: 10px;
  background-color: rgb(20,164,20);
}
.fieldCell:last-child {
  margin-right: 10px;
}
#yardlines {
  height: 100px;
  width: 100%;
  background-color: rgb(0,127,0);
  display: flex;
}
.yardLine {
  width: calc(100% / 12);
  height: 100px;
  line-height: 100px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 40px;
}
.yardLine > img {
  height: 20px;
  padding: 40px 10px;
}
#scoreCont {
  width: 100%;
  height: 100px;
  background-color: #ccc;
  position: relative;
}
#scoreBoard, #scoreAni {
  height: 80px;
  width: calc(100% - 50px);
  position: absolute;
  top: 10px;
  left: 25px;
  display: flex;
  transform: skew(-18.4deg);
}
#scoreBoard {
  background: linear-gradient(to right, var(--skyblue) 25%, var(--red) 50%, #333 75%);
}
#scoreAni {
  display: none;
  z-index: 2;
  background-color: var(--skyblue);
  text-align: center;
  color: white;
  line-height: 80px;
}
#scoreAni > span {
  display: inline-block;
  transform: skew(18.4deg);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  letter-spacing: 3px;
  font-weight: bold;
}
.teamName {
  height: 100%;
  width: 20%;
  text-align: center;
  line-height: 80px;
}
.teamScore {
  height: 100%;
  width: 8%;
  min-width: 100px;
  flex-shrink: 0;
  text-align: center;
  line-height: 80px;
  white-space: nowrap;
}
.teamTimeouts {
  height: 100%;
  width: 20px;
  flex-shrink: 0;
}
.teamTimeouts > div {
  margin-top: 5px;
  height: 20px;
  width: 10px;
  margin-left: 5px;
  background-color: white;
}
#scoreTime {
  width: 260px;
  height: 100%;
  line-height: 80px;
  background-color: #333;
  display: inline-flex;
  justify-content: center;
}
#playClock {
  width: 60px;
  height: 100%;
  line-height: 80px;
  background-color: #444;
  text-align: center;
}
#downMarker {
  width: calc(52% - 360px);
  height: 100%;
  line-height: 80px;
  background-color: var(--skyblue);
  display: flex;
  justify-content: center;
}
#downMarker > img {
  display: block;
  height: 40px;
  width: auto;
  transform: skew(18.4deg);
  padding: 20px;
}
#scoreBoard > div > span {
  display: block;
  transform: skew(18.4deg);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
.teamScore > span {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif !important;
}
.teamName > span, #playClock > span {
  font-size: 40px;
}
#scoreTime > span, #downMarker > span {
  font-size: 50px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
.teamName:nth-of-type(1), .teamTimeouts:nth-of-type(2) {
  background-color: var(--skyblue);
}
.teamName:nth-of-type(4), .teamTimeouts:nth-of-type(5) {
  background-color: var(--red);
}
.teamScore:nth-of-type(3) {
  background-color: var(--skyblue-dark);
}
.teamScore:nth-of-type(6) {
  background-color: var(--red-dark);
}
#lineOfScrimm, #lineToConvert {
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 3;
}
#lineOfScrimm {
  background-color: yellow;
  left: calc(((100% - 130px) / 12) + 13px);
}
#lineToConvert {
  background-color: red;
  left: calc(((100% - 130px) / 12 * 11) + 10px * 11 + 3px);
}
#prompt {
  height: calc(100vh - 100px);
  width: 100%;
  background-color: #eeea;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  align-items: center;
  justify-content: center;
  display: none;
}
#prompt > div {
  width: 50%;
  padding: 5px;
  border-radius: 10px;
  height: auto;
  min-height: 100px;
  background-color: #444;
  display: inline-block;
}
.messageText {
  color: goldenrod;
  width: 100%;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: bold;
}
.promptText, .buttonName {
  color: #ccc;
  width: 100%;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}
.buttonDesc {
  color: #bbb;
  width: 100%;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
.promptButton {
  border: 3px solid #ccc;
  width: 100%;
  height: 80px;
  border-radius: 5px;
  background-color: #444;
  text-align: left;
  margin-top: 5px;
}
.promptButton:hover {
  cursor: pointer;
  background-color: #555;
}
.teamFinalCont {
  height: 80px;
  width: 100%;
  color: white;
  display: flex;
}
.teamFinalName {
  height: 70px;
  line-height: 70px;
  padding: 5px;
  font-size: 40px;
  width: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
.teamFinalScore {
  height: 70px;
  line-height: 70px;
  font-size: 60px;
  width: 120px;
  padding: 5px;
  flex-shrink: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
}
.teamFinalCont:last-of-type > .teamFinalName {
  border-radius: 0 0 0 5px;
}
.teamFinalCont:last-of-type > .teamFinalScore {
  border-radius: 0 0 5px 0;
}
.teamFinalPeriod {
  background-color: #666;
  width: calc(100% - 10px);
  height: 40px;
  line-height: 40px;
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  color: gold;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
#playAgain, #otBtn, #nextButton, #launchBtn {
  font-size: 40px;
  color: #ccc;
  height: 60px;
}
#launchBtn {
  background-color: #ccc;
  color: #444;
  text-align: center;
  border: none;
}
#launchBtn:hover {
  background-color: goldenrod;
}
.gameModeSelected {
  border: 3px solid goldenrod;
}
/*dpad styles*/
#dpadCont {
  height: 100vh;
  width: 260px;
  display: none;
  top: 0;
  background-color: #ccc;
  position: absolute;
}
#fullDpad {
	height: 180px;
	width: 180px;
	top: 40px;
  left: 40px;
	position: absolute;
}
.buttonDpad {
	height: 60px;
	width: 60px;
	background-color: #333;
	position: absolute;
	border-radius: 5%;
	line-height: 60px;
	text-align: center;
	font-size: 40px;
	font-family: 'Roboto',sans-serif;
	color: #eee;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;
}
.buttonDpad:focus {
	outline: none;
}
#topDpad {
	top: 0;
	left: 60px;
}
#leftDpad {
	top: 60px;
	left: 0;
}
#botDpad {
	bottom: 0;
	left: 60px;
}
#rightDpad {
	top: 60px;
	right: 0;
}
#awayTimeout {
  top: 260px;
  left: 40px;
  position: absolute;
  background-color: var(--skyblue)
}
#homeTimeout {
  top: 260px;
  right: 40px;
  position: absolute;
  background-color: var(--red);
}
#scoreTime > span:first-of-type {
  padding-right: 15px;
}
@media only screen and (max-width: 1450px) {
  .teamName > span, #playClock > span {
    font-size: 25px;
  }
  .teamScore > span {
    font-size: 45px;
  }
  #scoreTime > span, #downMarker > span, #scoreAni {
    font-size: 35px;
  }
  #scoreBoard, #scoreAni {
    height: 60px;
  }
  #scoreAni {
    line-height: 60px;
  }
  .teamName {
    width: 18%;
  }
  #playClock {
    width: 40px;
  }
  #downMarker {
    width: calc(56% - 320px);
  }
  #scoreTime {
    width: 180px;
  }
  #scoreBoard > div {
    line-height: 60px;
  }
  .teamTimeouts > div {
    margin-top: 3px;
    height: 16px;
  }
  #downMarker > img {
    height: 32px;
    padding: 14px;
  }
  #scoreCont {
    height: 80px;
  }
  #field {
    height: calc(100% - 190px);
  }
}
@media only screen and (max-width: 1100px) {
  .teamScore > span {
    font-size: 40px;
  }
  #scoreTime > span, #downMarker > span, #playClock > span, #socreAni {
    font-size: 30px;
  }
  #scoreBoard, #scoreAni {
    height: 50px;
  }
  #scoreAni {
    line-height: 50px;
  }
  #scoreBoard > div {
    line-height: 50px;
  }
  .teamTimeouts > div {
    width: 7px;
    margin-left: 3px;
  }
  .teamTimeouts {
    width: 13px;
  }
  .yardLine {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
  }
  .yardLine > img {
    padding: 20px 5px;
  }
  #yardlines {
    height: 60px;
  }
  #field {
    height: calc(100% - 140px);
  }
  #downMarker {
    width: calc(56% - 330px);
  }
  #scoreTime {
    width: 150px;
  }
  #downMarker > img {
    height: 24px;
    padding: 13px 3px;
  }
  #scoreCont {
    height: 70px;
  }
  .teamTimeouts > div {
    margin-top: 2px;
    height: 14px;
  }
}
@media only screen and (max-width: 950px) {
  #scoreBoard, #scoreAni {
    top: 5px;
  }
  #scoreCont {
    height: 60px;
  }
  #yardLines {
    height: 50px;
  }
  .yardLine {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
  }
  .yardLine > img {
    padding: 15px 3px;
  }
  #field {
    height: calc(100% - 120px);
  }
  .teamScore > span {
    font-size: 36px;
  }
  #scoreBoard, #scoreBoard {
    height: 40px;
  }
  #scoreBoard {
    line-height: 40px;
  }
  #scoreBoard > div {
    height: 40px;
    line-height: 40px;
  }
  #downMarker > img {
    padding: 8px 3px;
  }
  .teamTimeouts > div {
    margin-top: 1px;
    height: 12px;
  }
  #scoreCont {
    height: 50px;
  }
  #scoreTime > span, #downMarker > span, #scoreAni > span {
    font-size: 24px;
  }
  #downMarker > img {
    padding: 10px 3px;
    height: 20px;
  }
  .teamName > span {
    font-size: 20px;
  }
  .teamScore > span {
    font-size: 30px;
  }
  #scoreTime > span:first-of-type {
    padding-right: 8px;
  }
  .teamName {
    width: 15%;
  }
  #scoreTime {
    width: 110px;
  }
  #downMarker {
    width: calc(56% - 250px);
  }
}
